interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/api/catalog/v1?ids=uczf-rk3c&domains=data.cityofnewyork.us
  response:
    body:
      string: "{\n  \"results\" :\n    [\n      {\n        \"resource\" :\n          {\n
        \           \"name\" : \"Bicycle Counts\",\n            \"id\" : \"uczf-rk3c\",\n
        \           \"resource_name\" : null,\n            \"parent_fxf\" : [],\n
        \           \"description\" : \"Bicycle counts conducted around New York City
        at key locations. For the counter locations, please refer to the <a href=\\\"https://data.cityofnewyork.us/d/smn3-rzf9/\\\">Bicycle
        Counters dataset</a>. \\n\\nThe data may have lapses due to transmission issues
        cause by weather, connection interruptions, equipment malfunctions, vandalism,
        etc. The data will update as soon as it is feasible. The City makes no presentation
        as to the accuracy of the content and assumes no liability for omissions or
        errors in information contains on the website. Time is captured in GMT/UTC
        timezone.\",\n            \"attribution\" : \"Department of Transportation
        (DOT)\",\n            \"attribution_link\" : null,\n            \"contact_email\"
        : null,\n            \"type\" : \"dataset\",\n            \"updatedAt\" :
        \"2025-05-04T15:04:05.000Z\",\n            \"createdAt\" : \"2019-12-27T16:18:08.000Z\",\n
        \           \"metadata_updated_at\" : \"2025-05-04T15:04:05.000Z\",\n            \"data_updated_at\"
        : \"2025-05-02T15:11:43.000Z\",\n            \"page_views\" :\n              {\n
        \               \"page_views_last_week\" : 135,\n                \"page_views_last_month\"
        : 446,\n                \"page_views_total\" : 15534,\n                \"page_views_last_week_log\"
        : 7.08746284125034,\n                \"page_views_last_month_log\" : 8.804131021183318,\n
        \               \"page_views_total_log\" : 13.923234621009202\n              },\n
        \           \"columns_name\" : [ \"counts\", \"countid\", \"id\", \"date\",
        \"status\" ],\n            \"columns_field_name\" :\n              [ \"counts\",
        \"countid\", \"id\", \"date\", \"status\" ],\n            \"columns_datatype\"
        :\n              [ \"Number\", \"Number\", \"Number\", \"Calendar date\",
        \"Number\" ],\n            \"columns_description\" : [ \"\", \"\", \"\", \"\",
        \"\" ],\n            \"columns_format\" :\n              [\n                {},\n
        \               { \"precisionStyle\" : \"standard\", \"noCommas\" : \"true\"
        },\n                { \"noCommas\" : \"true\" },\n                { \"view\"
        : \"date_time\" },\n                {}\n              ],\n            \"download_count\"
        : 3964,\n            \"provenance\" : \"official\",\n            \"lens_view_type\"
        : \"tabular\",\n            \"lens_display_type\" : \"table\",\n            \"locked\"
        : false,\n            \"blob_mime_type\" : null,\n            \"hide_from_data_json\"
        : false,\n            \"publication_date\" : \"2022-06-24T20:24:11.000Z\"\n
        \         },\n        \"classification\" :\n          {\n            \"categories\"
        : [],\n            \"tags\" : [],\n            \"domain_category\" : \"Transportation\",\n
        \           \"domain_tags\" :\n              [\n                \"bicycle\",\n
        \               \"eco-counter\",\n                \"bike\",\n                \"count\",\n
        \               \"east river\",\n                \"uptown\",\n                \"midtown\"\n
        \             ],\n            \"domain_metadata\" :\n              [\n                {
        \"key\" : \"Update_Automation\", \"value\" : \"Yes\" },\n                {
        \"key\" : \"Update_Date-Made-Public\", \"value\" : \"12/31/2019\" },\n                {
        \"key\" : \"Update_Update-Frequency\", \"value\" : \"Daily\" },\n                {\n
        \                 \"key\" : \"Dataset-Information_Agency\",\n                  \"value\"
        : \"Department of Transportation (DOT)\"\n                }\n              ]\n
        \         },\n        \"metadata\" : { \"domain\" : \"data.cityofnewyork.us\"
        },\n        \"permalink\" : \"https://data.cityofnewyork.us/d/uczf-rk3c\",\n
        \       \"link\" : \"https://data.cityofnewyork.us/Transportation/Bicycle-Counts/uczf-rk3c\",\n
        \       \"owner\" :\n          {\n            \"id\" : \"5fuc-pqz2\",\n            \"user_type\"
        : \"interactive\",\n            \"display_name\" : \"NYC OpenData\"\n          },\n
        \       \"creator\" :\n          {\n            \"id\" : \"5fuc-pqz2\",\n
        \           \"user_type\" : \"interactive\",\n            \"display_name\"
        : \"NYC OpenData\"\n          }\n      }\n    ],\n  \"resultSetSize\" : 1,\n
        \ \"timings\" : { \"serviceMillis\" : 27, \"searchMillis\" : [ 4, 8 ] },\n
        \ \"warnings\" : []\n}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-RequestId:
      - 4f7d4c70bacfce6d85b982d36764e457
    status:
      code: 200
      message: OK
version: 1
