interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/resource/uczf-rk3c.xml
  response:
    body:
      string: <response><rows><row _id="row-qj7s_fjjw-ckwc" _uuid="00000000-0000-0000-C83F-D4041B0025AF"
        _position="0" _address="https://data.cityofnewyork.us/resource/uczf-rk3c/19831896"><countid>19831896</countid><id>100009425</id><date>2023-06-03T00:00:00</date><counts>27</counts><status>0</status></row><row
        _id="row-462r-bz4j_radf" _uuid="00000000-0000-0000-0DB9-5736CE084CB2" _position="0"
        _address="https://data.cityofnewyork.us/resource/uczf-rk3c/19831897"><countid>19831897</countid><id>100009425</id><date>2023-06-03T00:15:00</date><counts>9</counts><status>0</status></row><row
        _id="row-whqi~ev5g-ypbe" _uuid="00000000-0000-0000-7BC8-E326EFB91470" _position="0"
        _address="https://data.cityofnewyork.us/resource/uczf-rk3c/19831898"><countid>19831898[...]
