interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/api/catalog/v1?attribution=Department+of+Transportation+%28DOT%29&offset=0&domains=data.cityofnewyork.us
  response:
    body:
      string: "{\n  \"results\" :\n    [\n      {\n        \"resource\" :\n          {\n
        \           \"name\" : \"New York City Truck Routes (Map)\",\n            \"id\"
        : \"wnu3-egq7\",\n            \"resource_name\" : null,\n            \"parent_fxf\"
        : [ \"jjja-shxy\" ],\n            \"description\" : \"The New York City Truck
        Route Network is a set of roads that commercial vehicles must use in New York
        City. \\r\\n\\r\\nNYC Truck Routes are also available in LION data. \\r\\nhttps://data.cityofnewyork.us/City-Government/LION/2v4z-66xt\",\n
        \           \"attribution\" : \"Department of Transportation (DOT)\",\n            \"attribution_link\"
        : null,\n            \"contact_email\" : null,\n            \"type\" : \"map\",\n
        \           \"updatedAt\" : \"2023-10-24T16:42:48.000Z\",\n            \"createdAt\"
        : \"2020-09-15T14:23:07.000Z\",\n            \"metadata_updated_at\" : \"2022-06-30T20:12:36.000Z\",\n
        \           \"data_updated_at\" : \"2023-10-24T16:42:48.000Z\",\n            \"page_views\"
        :\n              {\n                \"page_views_last_week\" : 476,\n                \"page_views_last_month\"
        : 1814,\n                \"page_views_total\" : 54860,\n                \"page_views_last_week_log\"
        : 8.897845456005513,\n                \"page_views_last_month_log\" : 10.825753832883112,\n
        \               \"page_views_total_log\" : 15.743493299254638\n              },\n
        \           \"columns_name\" : [],\n            \"columns_field_name\" : [],\n
        \           \"columns_datatype\" : [],\n            \"columns_description\"
        : [],\n            \"columns_format\" : [],\n            \"download_count\"
        : 15,\n            \"provenance\" : \"official\",\n            \"lens_view_type\"
        : \"tabular\",\n            \"lens_display_type\" : \"visualization_canvas_map\",\n
        \           \"locked\" : false,\n            \"blob_mime_type\" : null,\n
        \           \"hide_from_data_json\" : false,\n            \"publication_date\"
        : \"2022-06-30T20:12:36.000Z\"\n          },\n        \"classification\" :\n
        \         {\n            \"categories\" : [],\n            \"tags\" : [],\n
        \           \"domain_category\" : \"Transportation\",\n            \"domain_tags\"
        :\n              [\n                \"route\",\n                \"commercial\",\n
        \               \"freight\",\n                \"limited\",\n                \"local\",\n
        \               \"truck\"\n              ],\n            \"domain_metadata\"
        :\n              [\n                { \"key\" : \"Update_Automation\", \"value\"
        : \"No\" },\n                { \"key\" : \"Update_Date-Made-Public\", \"value\"
        : \"9/15/2020\" },\n                { \"key\" : \"Update_Update-Frequency\",
        \"value\" : \"Annually\" },\n                {\n                  \"key\"
        : \"Dataset-Information_Agency\",\n                  \"value\" : \"Department
        of Transportation (DOT)\"\n                }\n              ]\n          },\n
        \       \"metadata\" : { \"domain\" : \"data.cityofnewyork.us\" },\n        \"permalink\"
        : \"https://data.cityofnewyork.us/d/wnu3-egq7\",\n        \"link\" : \"https://data.cityofnewyork.us/Transportation/New-York-City-Truck-Routes-Map-/wnu3-egq7\",\n
        \       \"owner\" :\n          {\n            \"id\" : \"5fuc-pqz2\",\n            \"user_type\"
        : \"interactive\",\n            \"display_name\" : \"NYC OpenData\"\n          },\n
        \       \"creator\" :\n          {\n            \"id\" : \"5fuc-pqz2\",\n
        \           \"user_type\" : \"interactive\",\n            \"display_name\"
        : \"NYC OpenData\"\n          }\n      },\n      {\n        \"resource\" :\n
        \         {\n            \"name\" : \"Bi-Annual Pedestrian Counts\",\n            \"id\"
        : \"2de2-6x2h\",\n            \"resource_name\" : null,\n            \"parent_fxf\"
        : [ \"cqsj-cfgu\" ],\n            \"description\" : \"An index of pedestrian
     [...]
[...]
