interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/api/views/songs.json
  response:
    body:
      string: "{\n  \"code\" : \"not_found\",\n  \"error\" : true,\n  \"message\"
        : \"Not found\",\n  \"data\" : {\n    \"id\" : \"songs\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Error-Code:
      - not_found
      X-Error-Message:
      - Not found
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-RequestId:
      - 41de62ccb6da311bfd5a1fc12d10fb76
    status:
      code: 404
      message: Not Found
version: 1
