interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/api/views/uczf-rk3c.json
  response:
    body:
      string: "{\n  \"id\" : \"uczf-rk3c\",\n  \"name\" : \"Bicycle Counts\",\n  \"assetType\"
        : \"dataset\",\n  \"attribution\" : \"Department of Transportation (DOT)\",\n
        \ \"averageRating\" : 0,\n  \"category\" : \"Transportation\",\n  \"createdAt\"
        : 1577463488,\n  \"description\" : \"Bicycle counts conducted around New York
        City at key locations. For the counter locations, please refer to the <a href=\\\"https://data.cityofnewyork.us/d/smn3-rzf9/\\\">Bicycle
        Counters dataset</a>. \\n\\nThe data may have lapses due to transmission issues
        cause by weather, connection interruptions, equipment malfunctions, vandalism,
        etc. The data will update as soon as it is feasible. The City makes no presentation
        as to the accuracy of the content and assumes no liability for omissions or
        errors in information contains on the website. Time is captured in GMT/UTC
        timezone.\",\n  \"diciBackend\" : false,\n  \"displayType\" : \"table\",\n
        \ \"downloadCount\" : 3964,\n  \"hideFromCatalog\" : false,\n  \"hideFromDataJson\"
        : false,\n  \"locale\" : \"en_US\",\n  \"locked\" : false,\n  \"newBackend\"
        : true,\n  \"numberOfComments\" : 0,\n  \"oid\" : 38616938,\n  \"provenance\"
        : \"official\",\n  \"publicationAppendEnabled\" : true,\n  \"publicationDate\"
        : 1656102251,\n  \"publicationGroup\" : 16798379,\n  \"publicationStage\"
        : \"published\",\n  \"rowClass\" : \"\",\n  \"rowIdentifierColumnId\" : 562412106,\n
        \ \"rowsUpdatedAt\" : 1746198703,\n  \"rowsUpdatedBy\" : \"5fuc-pqz2\",\n
        \ \"tableId\" : 18757817,\n  \"totalTimesRated\" : 0,\n  \"viewCount\" : 15532,\n
        \ \"viewLastModified\" : 1746371045,\n  \"viewType\" : \"tabular\",\n  \"approvals\"
        : [ {\n    \"reviewedAt\" : 1577804227,\n    \"reviewedAutomatically\" : true,\n
        \   \"state\" : \"approved\",\n    \"submissionId\" : 4792823,\n    \"submissionObject\"
        : \"public_audience_request\",\n    \"submissionOutcome\" : \"change_audience\",\n
        \   \"submittedAt\" : 1577804227,\n    \"targetAudience\" : \"public\",\n
        \   \"workflowId\" : 2285,\n    \"submissionDetails\" : {\n      \"permissionType\"
        : \"READ\"\n    },\n    \"submissionOutcomeApplication\" : {\n      \"endedAt\"
        : 1577804227,\n      \"failureCount\" : 0,\n      \"startedAt\" : 1577804227,\n
        \     \"status\" : \"success\"\n    },\n    \"submitter\" : {\n      \"id\"
        : \"d5dp-fses\",\n      \"displayName\" : \"afinkel\"\n    }\n  } ],\n  \"clientContext\"
        : {\n    \"clientContextVariables\" : [ ],\n    \"inheritedVariables\" : {
        }\n  },\n  \"columns\" : [ {\n    \"id\" : 562412106,\n    \"name\" : \"countid\",\n
        \   \"dataTypeName\" : \"number\",\n    \"description\" : \"\",\n    \"fieldName\"
        : \"countid\",\n    \"position\" : 1,\n    \"renderTypeName\" : \"number\",\n
        \   \"tableColumnId\" : 142756388,\n    \"cachedContents\" : {\n      \"non_null\"
        : \"6590403\",\n      \"largest\" : \"133984185\",\n      \"null\" : \"0\",\n
        \     \"top\" : [ {\n        \"item\" : \"10089359\",\n        \"count\" :
        \"1\"\n      }, {\n        \"item\" : \"10089360\",\n        \"count\" : \"1\"\n
        \     }, {\n        \"item\" : \"10089361\",\n        \"count\" : \"1\"\n
        \     }, {\n        \"item\" : \"10089362\",\n        \"count\" : \"1\"\n
        \     }, {\n        \"item\" : \"10089363\",\n        \"count\" : \"1\"\n
        \     }, {\n        \"item\" : \"10089364\",\n        \"count\" : \"1\"\n
        \     }, {\n        \"item\" : \"10089365\",\n        \"count\" : \"1\"\n
[...]
