interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/resource/uczf-rk3c.json?%24limit=1&%24offset=0
  response:
    body:
      string: '[{"countid":"19831896","id":"100009425","date":"2023-06-03T00:00:00.000","counts":"27","status":"0"}]

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"aG90ZWwuMTY0ODhfN18xMTIzRlR0S2szNEowMlZZeHpZOF9fMkJOZEpMdTA0---gzippJtW0Ed5tFVelcWmZKebY9dYXOE--gzip--gzip"'
      Last-Modified:
      - Fri, 02 May 2025 15:11:42 GMT
      X-SODA2-Data-Out-Of-Date:
      - 'false'
      X-SODA2-Fields:
      - '["countid","id","date","counts","status"]'
      X-SODA2-Secondary-Last-Modified:
      - Fri, 02 May 2025 15:11:42 GMT
      X-SODA2-Truth-Last-Modified:
      - Fri, 02 May 2025 15:11:42 GMT
      X-SODA2-Types:
      - '["number","number","floating_timestamp","number","number"]'
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-RequestId:
      - 9ea50121236ef06dba69d1aa7401e77c
    status:
      code: 200
      message: OK
[...]
