interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/api/catalog/v1?domains=data.cityofnewyork.us&limit=7&offset=0
  response:
    body:
      string: "{\n  \"results\" :\n    [\n      {\n        \"resource\" :\n          {\n
        \           \"name\" : \"For Hire Vehicles (FHV) - Active\",\n            \"id\"
        : \"8wbx-tsch\",\n            \"resource_name\" : null,\n            \"parent_fxf\"
        : [],\n            \"description\" : \"<b>PLEASE NOTE:</b> This dataset, which
        includes all TLC licensed for-hire vehicles which are in good standing and
        able to drive, is updated every day in the evening between 4-7pm. Please check
        the 'Last Update Date' field to make sure the list has updated successfully.
        'Last Update Date'  should show either today or yesterday's date, depending
        on the time of day. If the list is outdated, please download the most recent
        list from the link below. \\r\\nhttp://www1.nyc.gov/assets/tlc/downloads/datasets/tlc_for_hire_vehicle_active_and_inactive.csv\\r\\n\\r\\nTLC
        authorized For-Hire vehicles that are active. This list is accurate to the
        date and time represented in the Last Date Updated and Last Time Updated fields.
        For inquiries about the contents of this dataset, please email licensinginquiries@tlc.nyc.gov.\",\n
        \           \"attribution\" : \"Taxi and Limousine Commission (TLC)\",\n            \"attribution_link\"
        : null,\n            \"contact_email\" : null,\n            \"type\" : \"dataset\",\n
        \           \"updatedAt\" : \"2025-04-27T19:04:46.000Z\",\n            \"createdAt\"
        : \"2015-07-16T17:33:32.000Z\",\n            \"metadata_updated_at\" : \"2022-09-06T21:05:32.000Z\",\n
        \           \"data_updated_at\" : \"2025-04-27T19:04:46.000Z\",\n            \"page_views\"
        :\n              {\n                \"page_views_last_week\" : 10011,\n                \"page_views_last_month\"
        : 47723,\n                \"page_views_total\" : 3155908,\n                \"page_views_last_week_log\"
        : 13.289442575688332,\n                \"page_views_last_month_log\" : 15.542427347526369,\n
        \               \"page_views_total_log\" : 21.589624175454542\n              },\n
        \           \"columns_name\" :\n              [\n                \"DMV License
        Plate Number\",\n                \"Permit License Number\",\n                \"Vehicle
        VIN Number\",\n                \"Base Number\",\n                \"Base Name\",\n
        \               \"Wheelchair Accessible\",\n                \"License Type\",\n
        \               \"Hack Up Date\",\n                \"Vehicle License Number\",\n
        \               \"Expiration Date\",\n                \"Active\",\n                \"Base
        Type\",\n                \"Certification Date\",\n                \"Website\",\n
        \               \"Order Date\",\n                \"Last Date Updated\",\n
        \               \"Name\",\n                \"Vehicle Year\",\n                \"Base
        Telephone Number\",\n                \"Base Address\",\n                \"Reason\",\n
        \               \"Last Time Updated\",\n                \"VEH\"\n              ],\n
        \           \"columns_field_name\" :\n              [\n                \"dmv_license_plate_number\",\n
        \               \"permit_license_number\",\n                \"vehicle_vin_number\",\n
        \               \"base_number\",\n                \"base_name\",\n                \"wheelchair_accessible\",\n
        \               \"license_type\",\n                \"hack_up_date\",\n                \"vehicle_license_number\",\n
        \               \"expiration_date\",\n                \"active\",\n                \"base_type\",\n
        \               \"certification_date\",\n                \"website\",\n                \"order_date\",\n
        \               \"last_date_updated\",\n                \"name\",\n                \"vehicle_year\",\n
        \               \"base_telephone_number\",\n                \"base_address\",\n
        \               \"reason\",\n                \"last_time_updated\",\n                \"veh\"\n
        \             ],\n            \"columns_datatype\" :\n              [\n                \"Text\",\n
        \               \"Text\",\n                \"Text\",\n                \"Text\",\n
        \               \"Text\",\n                \"Text\",\n                \"Text\",\n
        \               \"Calendar date\",\n                \"Text\",\n                \"Calendar
        date\",\n                \"Text\",\n                \"Text\",\n                \"Calendar
        date\",\n                \"Text\",\n                \"Calendar date\",\n                \"Calendar
        date\",\n                \"Text\",\n                \"Number\",\n                \"Text\",\n
        \               \"Text\",\n                \"Text\",\n                \"Text\",\n
        \               \"Text\"\n              ],\n            \"columns_description\"
        :\n              [\n                \"DMV License Plate Number\",\n                \"Permit
        License Number\",\n                \"Vehicle VIN Number\",\n                \"Base
        Number\",\n                \"Base Name\",\n                \"Wheelchair Accessible
        Indicator\\n\",\n                \"TLC License Type\\n\",\n                \"Hack
        Up Date\",\n                \"FHV Vehicle License Number\",\n                \"Expiration
        Date\",\n                \"Permit active or not\\n\",\n                \"Base
        Type\",\n                \"Certification Date\",\n                \"Base Website\",\n
        \               \"Date Suspension ordered\\n\",\n                \"Last Date
        Updated\",\n                \"Owner Name\\n\",\n                \"Vehicle
        Year\",\n                \"Base Telephone NumberBase Telephone Number\",\n
        \               \"Base Address\",\n                \"Reason Code A,B,C or
        G\\n\",\n                \"Last Time Updated\",\n                \"Hybrid
        vehicle indicator\\n\"\n              ],\n            \"columns_format\" :\n
        \             [\n                { \"displayStyle\" : \"plain\", \"align\"
        : \"left\" },\n                { \"displayStyle\" : \"plain\", \"align\" :
        \"left\" },\n                { \"displayStyle\" : \"plain\", \"align\" : \"left\"
        },\n                { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"view\" : \"date\", \"align\" : \"left\" },\n                {
        \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n                { \"view\"
        : \"date\", \"align\" : \"left\" },\n                { \"displayStyle\" :
        \"plain\", \"align\" : \"left\" },\n                { \"displayStyle\" : \"plain\",
        \"align\" : \"left\" },\n                { \"view\" : \"date\", \"align\"
        : \"left\" },\n                { \"displayStyle\" : \"plain\", \"align\" :
        \"left\" },\n                { \"view\" : \"date_time\", \"align\" : \"left\"
        },\n                { \"view\" : \"date\", \"align\" : \"left\" },\n                {
        \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n                {\n
        \                 \"precisionStyle\" : \"standard\",\n                  \"noCommas\"
        : \"true\",\n                  \"align\" : \"right\"\n                },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" },\n
        \               { \"displayStyle\" : \"plain\", \"align\" : \"left\" }\n              ],\n
        \           \"download_count\" : 555048,\n            \"provenance\" : \"official\",\n
        \           \"lens_view_type\" : \"tabular\",\n            \"lens_display_type\"
        : \"table\",\n            \"locked\" : false,\n            \"blob_mime_type\"
        : null,\n            \"hide_from_data_json\" : false,\n            \"publication_date\"
        : \"2021-04-05T13:20:47.000Z\"\n          },\n        \"classification\" :\n
        \         {\n            \"categories\" : [],\n            \"tags\" : [],\n
        \           \"domain_category\" : \"Transportation\",\n            \"domain_tags\"
        :\n              [\n                \"active\",\n                \"drivers\",\n
        \               \"fhv\",\n                \"for hire\",\n                \"for-hire\",\n
        \               \"for-hire-vehicles\",\n                \"inactive\",\n                \"taxi\"\n
        \             ],\n            \"domain_metadata\" :\n              [\n                {
        \"key\" : \"Update_Automation\", \"value\" : \"Yes\" },\n                {
        \"key\" : \"Update_Date-Made-Public\", \"value\" : \"7/20/2015\" },\n                {
        \"key\" : \"Update_Update-Frequency\", \"value\" : \"Daily\" },\n                {\n
        \                 \"key\" : \"Dataset-Information_Agency\",\n                  \"value\"
        : \"Taxi and Limousine Commission (TLC)\"\n                }\n              ]\n
        \         },\n        \"metadata\" : { \"domain\" : \"data.cityofnewyork.us\"
        },\n        \"permalink\" : \"https://data.cityofnewyork.us/d/8wbx-tsch\",\n
        \       \"link\" : \"https://data.cityofnewyork.us/Transportation/For-Hire-Vehicles-FHV-Active/8wbx-tsch\",\n
        \       \"owner\" :\n          {\n            \"id\" : \"5fuc-pqz2\",\n            \"user_type\"
        : \"interactive\",\n            \"display_name\" : \"NYC OpenData\"\n          },\n
        \       \"creator\" :\n          {\n            \"id\" : \"5fuc-pqz2\",\n
        \           \"user_type\" : \"interactive\",\n            \"display_name\"
        : \"NYC OpenData\"\n          }\n      },\n      {\n        \"resource\" :\n
        \         {\n            \"name\" : \"Civil Service List (Active)\",\n            \"id\"
        : \"vx8i-nprf\",\n            \"resource_name\" : null,\n            \"parent_fxf\"
        : [],\n            \"description\" : \"A Civil Service List consists of all
      [...]
