interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/resource/songs.json
  response:
    body:
      string: "{\n  \"code\" : \"dataset.missing\",\n  \"error\" : true,\n  \"message\"
        : \"Not found\",\n  \"data\" : {\n    \"id\" : \"songs\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-RequestId:
      - 245c26b637796d52c60f9a5e902627db
    status:
      code: 404
      message: Not Found
version: 1
