interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/api/views/metadata/v1/uczf-rk3c.json
  response:
    body:
      string: "{\n  \"id\" : \"uczf-rk3c\",\n  \"name\" : \"Bicycle Counts\",\n  \"attribution\"
        : \"Department of Transportation (DOT)\",\n  \"attributionLink\" : null,\n
        \ \"category\" : \"Transportation\",\n  \"createdAt\" : \"2019-12-27T16:18:08+0000\",\n
        \ \"dataUpdatedAt\" : \"2025-05-02T15:11:43+0000\",\n  \"dataUri\" : \"https://data.cityofnewyork.us/resource/uczf-rk3c\",\n
        \ \"description\" : \"Bicycle counts conducted around New York City at key
        locations. For the counter locations, please refer to the <a href=\\\"https://data.cityofnewyork.us/d/smn3-rzf9/\\\">Bicycle
        Counters dataset</a>. \\n\\nThe data may have lapses due to transmission issues
        cause by weather, connection interruptions, equipment malfunctions, vandalism,
        etc. The data will update as soon as it is feasible. The City makes no presentation
        as to the accuracy of the content and assumes no liability for omissions or
        errors in information contains on the website. Time is captured in GMT/UTC
        timezone.\",\n  \"domain\" : \"data.cityofnewyork.us\",\n  \"externalId\"
        : null,\n  \"hideFromCatalog\" : false,\n  \"hideFromDataJson\" : false,\n
        \ \"license\" : null,\n  \"metadataUpdatedAt\" : \"2025-05-04T15:04:05+0000\",\n
        \ \"provenance\" : \"OFFICIAL\",\n  \"updatedAt\" : \"2025-05-04T15:04:05+0000\",\n
        \ \"webUri\" : \"https://data.cityofnewyork.us/d/uczf-rk3c\",\n  \"approvals\"
        : [ {\n    \"reviewedAt\" : 1577804227,\n    \"reviewedAutomatically\" : true,\n
        \   \"state\" : \"approved\",\n    \"submissionId\" : 4792823,\n    \"submissionObject\"
        : \"public_audience_request\",\n    \"submissionOutcome\" : \"change_audience\",\n
        \   \"submittedAt\" : 1577804227,\n    \"targetAudience\" : \"public\",\n
        \   \"workflowId\" : 2285,\n    \"submissionDetails\" : {\n      \"permissionType\"
        : \"READ\"\n    },\n    \"submissionOutcomeApplication\" : {\n      \"endedAt\"
        : 1577804227,\n      \"failureCount\" : 0,\n      \"startedAt\" : 1577804227,\n
        \     \"status\" : \"success\"\n    },\n    \"submitter\" : {\n      \"id\"
        : \"d5dp-fses\",\n      \"displayName\" : \"afinkel\"\n    }\n  } ],\n  \"customFields\"
        : {\n    \"Update\" : {\n      \"Automation\" : \"Yes\",\n      \"Date Made
        Public\" : \"12/31/2019\",\n      \"Update Frequency\" : \"Daily\"\n    },\n
        \   \"Dataset Information\" : {\n      \"Agency\" : \"Department of Transportation
        (DOT)\"\n    }\n  },\n  \"tags\" : [ \"bicycle\", \"count\", \"eco-counter\",
        \"midtown\", \"east river\", \"uptown\", \"bike\" ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-RequestId:
      - ed67162f3bfb05bcff97eef75e860077
    status:
      code: 200
      message: OK
version: 1
