interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofnewyork.us/resource/uczf-rk3c.json?%24offset=0
  response:
    body:
      string: '[{"countid":"19831896","id":"100009425","date":"2023-06-03T00:00:00.000","counts":"27","status":"0"}

        ,{"countid":"19831897","id":"100009425","date":"2023-06-03T00:15:00.000","counts":"9","status":"0"}

        ,{"countid":"19831898","id":"100009425","date":"2023-06-03T00:30:00.000","counts":"14","status":"0"}

        ,{"countid":"19831899","id":"100009425","date":"2023-06-03T00:45:00.000","counts":"10","status":"0"}

        ,{"countid":"19831900","id":"100009425","date":"2023-06-03T01:00:00.000","counts":"5","status":"0"}

        ,{"countid":"19831901","id":"100009425","date":"[...]
[...]
